<mat-vertical-stepper>
  <mat-step label="Who">
    <mat-form-field>
      <textarea matInput placeholder="Question" matTextareaAutosize></textarea>
    </mat-form-field>
  </mat-step>
  <mat-step label="What">
    <mat-form-field>
      <textarea matInput placeholder="Question" matTextareaAutosize></textarea>
    </mat-form-field>
  </mat-step>
  <mat-step label="When">
    <mat-form-field>
      <textarea matInput placeholder="Question" matTextareaAutosize></textarea>
    </mat-form-field>
  </mat-step>
  <mat-step label="Where">
    <mat-form-field>
      <textarea matInput placeholder="Question" matTextareaAutosize></textarea>
    </mat-form-field>
  </mat-step>
  <mat-step label="Why">
    <mat-form-field>
      <textarea matInput placeholder="Question" matTextareaAutosize></textarea>
    </mat-form-field>
  </mat-step>
</mat-vertical-stepper>
